<!-- Sibling One -->
<template>
  <lightning-card title="Sibling 1" icon-name="custom:custom9">
    <div class="slds-m-around_medium">
      <br />
      <lightning-button
        label="Press me to send data to another component"
        onclick={sendNewDataEvent}
      ></lightning-button>
    </div>
  </lightning-card>
</template>