<template>
    <p>First Name: <slot name="firstName"></slot></p>
    <p>Last Name: <slot name="lastName"></slot></p>
    <c-ex20-grand-child>
       <p>Company - Salesforce</p>
    </c-ex20-grand-child>
</template>