<template>
    <lightning-card title="Ex 15 - If True False Directive">
    <lightning-input type="checkbox" label="Show Div" onchange={showDivHandler}></lightning-input>
    <template if:true={showDivHandler}>
        <div>Tick box is checked now</div>
    </template>
    <template if:false={showDivHandler}>
        <div>Tick box is not checked </div>
    </template>

    </lightning-card>
</template>