<template>
    <lightning-card title='Inline styling'>
        <div class="slds-m-around_medium">
            <div style="color: blue; font: size 20px;">Hello there</div>
        </div>
    </lightning-card>
    <lightning-card title='External styling'>
        <div class="slds-m-around_medium">
            <p>I am p tag</p>
            <div class="user"> External styling </div>
        </div>
    </lightning-card>
    <lightning-card title='Shared styling'>
        <div class="slds-m-around_medium">
            
            <div class="wrapper"> I am from shared styling </div>
        </div>
    </lightning-card>
    <lightning-card title='Dynamic styling'>
        <div class="slds-m-around_medium">
            <lightning-input type="text" label="color" onchange={changecolor}></lightning-input>
            <div class= {fontcolor}> I am from Dynamic styling </div>
        </div>
    </lightning-card>
</template>