<template>
    <lightning-button variant="brand" label="Invoke child method" onclick={handleClick}></lightning-button>
    <c-ex19-child name='Bala'></c-ex19-child>
    <c-ex19-child></c-ex19-child>
    <c-ex19-child></c-ex19-child>
    <c-ex19-child></c-ex19-child>
</template>