<template>
    <lightning-card title="Ex 22 - Event Parent component">
    <c-ex22-event-child onbala={eventReceived}></c-ex22-event-child>
    Value from Child component is : {name}
    </lightning-card>
</template>