<template>
    <lightning-card title="Ex 17 - Iterator" icon-name="custom:custom14">
        <ul class="slds-m-around_medium">
            <template iterator:bala={contacts}>
                <li key={bala.value.Id}>
                    <div if:true={bala.first} class="list-first"></div>
                    {bala.value.Name}, {bala.value.Title}
                    <div if:true={bala.last} class="list-last"></div>
                </li>
            </template>
        </ul>
    </lightning-card>
</template>