<template>
  <lightning-card title="Getting Data From Child">
    <p class="slds-p-horizontal_small">
      <lightning-progress-bar
        value={progressValue}
        size="large"
      ></lightning-progress-bar>
      <c-ex23-event-child
        onpartha={hanldeProgressValueChange}
      ></c-ex23-event-child>
    </p>
  </lightning-card>
</template>