<!-- publisherComponent.html -->
<template>
    <lightning-card title="Publisher Component" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <p>MessageChannel Name: Bala</p>
            <br>
            <lightning-input label="Message" onchange={greetingChangeHandler}></lightning-input>
            <br>
            <lightning-button label="Publish" variant="brand" onclick={handleClick}></lightning-button>
        </div>
    </lightning-card>
</template>